@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#000 94%,#0000);
  background:
    var(--_g) 0    0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0    100%;
  background-size: 40% 40%;
  animation: l38 .5s infinite; 
}
@keyframes l38 {
  100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader-records {
  width: 40px;
  height: 10px;
  background: 
    linear-gradient(#99465a 0 0) left -40px top 0/40px 20px,
    linear-gradient(#ddd 0 0) center/100% 50%; 
  background-repeat: no-repeat;
  animation: l5 1s infinite linear;
}
@keyframes l5 {
  100% {background-position: right -40px top 0,center}
}

.card {
  flex: 0 1 calc(25% - 1rem); 
  max-width: calc(25% - 1rem);
}